.user-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-gap:20px;
    padding: 10px 10px;
    
}

h2{
    margin: 0 auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(58, 56, 56);
}



.main-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main-grid > div {
    text-align: center;
}

